/*csslint box-sizing: false*/
* {
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}

html {

}

html::after {
  content: "";
  background: url('../img/circuits2_1920x1080.jpg') no-repeat center center fixed;
  background-size: cover;
  opacity: 0.25;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

body {
  margin-top: 7%;
}

main {
  margin-left: 10%;
  margin-right: 10%;
}

#center-h1 {
  text-align: center;
  width: 50%;
  margin: 0 auto;
}

form {
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 20px;
}

h1 {
  margin-left: 15%;
  margin-right: 15%;
  width: 80%;
  font-size: 35px;
}

span {
  font-family: 'Roboto Slab', serif;
  display: block;
  margin-left: 15%;
  margin-right: 15%;
  margin-bottom: 0;
  padding: 10px;
  font-size: 25px;
  border-bottom: 0;
}

input {/*The radio buttons*/
  border: 0;
  height: 2em;
  width: 2em;
  margin-right: 1em;
}

.center-form {
  text-align: center;
}

button {
  margin-left: 15%;
  margin-right: 15%;
  height: 3em;
  width: 5em;
  font-size: x-large;
  border: 0;
}

p {
  text-align: center;
  font-size: large;
}

.hide {
  display: none;
}

.correct {
  color: #1abc9c;
  font-weight: bold;
}

.wrong {
  color: #e74c3c;
  font-weight: bold;
}

/*TODO: style radio buttons
  TODO: style button
  TODO: fade in/out for question transitions*/
